@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --plyr-color-main: #de2127;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #252525;
  font-size: 14px;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
}

@layer components {
  .bg-gradient-lightred-blackred {
    background: linear-gradient(180deg, #c03e3e, #b23333 50%, #ac2f2f);
  }
}
