@import "tailwindcss";

@theme {
  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );

  --animate-fadein: fade 0.6s ease forwards;
  --animate-fadeout: fadeout 0.6s ease forwards;
  --animate-slidein: slidein 0.6s ease forwards;
  --animate-slideout: slideout 0.6s ease forwards;
  --animate-bounceleft: bounceleft 1s infinite;
  --animate-bounceright: bounceright 1s infinite;

  @keyframes bounceleft {
    0% {
      right: 0px;
    }
    50% {
      right: 8px;
    }
    100% {
      right: 0px;
    }
  }
  @keyframes bounceright {
    0% {
      left: 0px;
    }
    50% {
      left: 8px;
    }
    100% {
      left: 0px;
    }
  }
  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeout {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes slidein {
    0% {
      bottom: -250px;
      scale: 0;
    }
    100% {
      bottom: 0px;
      scale: 1;
    }
  }
  @keyframes slideout {
    0% {
      bottom: 0px;
      scale: 1;
    }
    100% {
      bottom: -250px;
      scale: 0;
    }
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

@utility bg-gradient-lightred-blackred {
  background: linear-gradient(180deg, #c03e3e, #b23333 50%, #ac2f2f);
}

@layer utilities {
  :root {
    --plyr-color-main: #de2127;
  }

  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    background-color: #252525;
    font-size: 14px;
    color: white;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}
