@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

:root {
  --plyr-color-main: #de2127;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #252525;
  font-size: 14px;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
}

@layer components {
  .bg-gradient-lightred-blackred {
    background: linear-gradient(180deg, #c03e3e, #b23333 50%, #ac2f2f);
  }
}
